SECRET_KEY=change-me

DB_NAME=balkan-press-db
DB_USER=nrodefvrwb@balkanpress-server
DB_PASSWORD=change-me
DB_HOST=balkanpress-server.postgres.database.azure.com
DB_PORT=5432

ALLOWED_LOCAL_HOST=localhost
ALLOWED_DOMAIN_HOST=https://balkanpress-cuegbqejasgpc0at.swedencentral-01.azurewebsites.net