{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand fw-bold me-lg-4" href="{% url 'articles:list' %}">
            <img src="{% static 'images/logo.png' %}" alt="BalkanPress logo" height="50" class="me-2">
            BalkanPress
        </a>

        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-lg-flex align-items-lg-center w-100" id="navbarContent">

            <ul class="navbar-nav mx-lg-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link"
                       href="{% url 'categories:list' %}">
                        Categories
                    </a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link"
                       href="{% url 'categories:create' %}">
                        Create Category
                    </a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link"
                       href="{% url 'tags:list' %}">
                        Tags
                    </a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link"
                       href="{% url 'tags:create' %}">
                        Create Tag
                    </a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link"
                       href="{% url 'about' %}">
                        About Us
                    </a>
                </li>
            </ul>

            <div class="d-flex gap-2 ms-lg-auto">
                {% if request.user.is_authenticated %}
                    <a class="btn btn-outline-light" href="{% url 'accounts:logout' %}">Logout</a>
                    <a class="btn btn-primary" href="{% url 'accounts:profile' %}">Profile</a>
                {% else %}
                    <a class="btn btn-outline-light" href="{% url 'accounts:login' %}">Login</a>
                    <a class="btn btn-primary" href="{% url 'accounts:register' %}">Register</a>
                {% endif %}
            </div>

        </div>
    </div>
</nav>
