{% extends 'common/base.html' %}

{% block title %}
	About Us - BalkanPress
{% endblock %}

{% block content %}
	<div class="container">
        <h1 class="h3 mb-3">
            About Us
        </h1>
        <p class="text-muted">
            <strong>BalkanPress: Your Source, Your Voice.</strong><br>We are a next-generation news platform built for the modern reader. BalkanPress combines comprehensive reporting with a structured approach to content, utilizing smart tags and categories to bring you relevant articles instantly.<br><strong>Our mission:</strong> Delivering clarity in a complex world.<br><strong>Vision:</strong> To be the leading platform for interactive and accessible journalism.
        </p>
    </div>
{% endblock %}